BOT_TOKEN=
BOT_API_BASE_URL=http://127.0.0.1:3001
BOT_INTERNAL_API_BASE_URL=http://api:3001

API_HOST=0.0.0.0
API_PORT=3001
DB_DIR=/app/db
DATA_DIR=/app/data
ADMIN_TELEGRAM_IDS=

MINI_APP_PORT=3000
MINI_APP_API_BASE_URL=/api

ADMIN_PANEL_PORT=3002
ADMIN_PANEL_API_BASE_URL=/api