@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/geist";

@layer base {
  :root {
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --destructive-foreground: 210 40% 98%;
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --radius: 0.625rem;
    --chart-1: oklch(0.87 0 0);
    --chart-2: oklch(0.556 0 0);
    --chart-3: oklch(0.439 0 0);
    --chart-4: oklch(0.371 0 0);
    --chart-5: oklch(0.269 0 0);
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
  }

  * {
    border-color: var(--border);
    outline-color: color-mix(in oklab, var(--ring) 50%, transparent);
  }

  body {
    min-height: 100vh;
    color: var(--foreground);
    background: var(--background);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    font-family:
      Inter,
      system-ui,
      -apple-system,
      Segoe UI,
      Roboto,
      Ubuntu,
      Cantarell,
      Noto Sans,
      sans-serif;
  }
  .theme {
    --font-heading: var(--font-sans);
    --font-sans: 'Geist Variable', sans-serif;
  }
  .dark {
    --background: oklch(0.22 0.03 250);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.28 0.035 248);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.3 0.03 248);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.77 0.12 248);
    --primary-foreground: oklch(0.25 0.02 248);
    --secondary: oklch(0.35 0.03 248);
    --secondary-foreground: oklch(0.97 0 0);
    --muted: oklch(0.34 0.028 248);
    --muted-foreground: oklch(0.83 0.01 248);
    --accent: oklch(0.38 0.035 248);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(0.62 0.04 248 / 35%);
    --input: oklch(0.58 0.03 248 / 40%);
    --ring: oklch(0.72 0.08 248);
    --chart-1: oklch(0.87 0 0);
    --chart-2: oklch(0.556 0 0);
    --chart-3: oklch(0.439 0 0);
    --chart-4: oklch(0.371 0 0);
    --chart-5: oklch(0.269 0 0);
    --sidebar: oklch(0.27 0.03 248);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.35 0.03 248);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(0.62 0.04 248 / 35%);
    --sidebar-ring: oklch(0.72 0.08 248);
  }
  html {
    font-family: "Geist Variable", Inter, system-ui, sans-serif;
  }
}